@import "material-design-lite/material";

:root {
--fontSize: 1rem;
--mainColor: #12345678;
--highlightColor: hwb(190, 35%, 20%);
}


.box {
  @extend .mdl-color--white;
  @extend .mdl-shadow--4dp;
  @extend .mdl-color-text--grey-800;

  padding: 20px;
}
