extends layout

block content
  .mdl-grid
    .mdl-cell.mdl-cell--2-col
    .mdl-cell.mdl-cell--8-col.box
      h2 About
      p
        #[a(href="http://airpollutant.in") AirPollutant.in] is a collaborative project made to disseminate information about the current health hazard information due to air pollution in India Cities.
      h3 Why this project?
      p Air pollution in India is quite a serious issue with the major sources being fuelwood and biomass burning, fuel adulteration, vehicle emission and traffic congestion. India has a low per capita emissions of greenhouse gases but the country as a whole is the third largest after China and the United States. The 2013 Environmental Performance Index ranked India 155 out of 178 countries.
      p We hope to bring the information related to air pollution in Indian Cities in an assessable manner to everybody living in these cities. We hope citizens being aware about the serious conditions would help them take better decisions about being outside in the cities. We also hope citizens can make better choices about transportation and help reduce their impact in this serious issue.
      h3 How do we determine the health hazards?
      p We collect live information from Central Pollution Control Board(CPCB) about the 5 most common pollutants in India, namely: Carbon Monoxide(CO), Sulphur Dioxide(SO2), Ozone( O3) and Particulate Matter smaller than 2.5 micrometers(PM2.5). We calculate the Air Quality Index as advised by the CPCB and look for the health hazard information related to each of the pollutants as prescribed by the United States Environmental Protection Agency.
  .mdl-grid
    .mdl-cell.mdl-cell--2-col
    .mdl-cell.mdl-cell--8-col.box
      h3 Get Invovled!
        p #[a(href="http://airpollutant.in") AirPollutant.in] is built using open source technologies over weekends in Bangalore. If you care about the air pollution levels and think can make an impact by taking part in this project, do get in touch. We could use help from developers, social media experts and copywriters.
        p Tweet to us at @airpollutantin

